[submodule "backend"]
    path = backend
    url = https://github.com/Equipe-Skyfall/skytrack-back.git
    branch = dev

[submodule "frontend"]
    path = frontend
    url = https://github.com/Equipe-Skyfall/skytrack-front.git
    branch = dev

[submodule "broker"]
	path = broker
	url = https://github.com/Equipe-Skyfall/skytrack-broker.git
	branch = dev
